body {
  padding: 100px;
  height: 400px; }
  body .clock {
    font-size: 4em;
    padding: 50px;
    display: block;
    height: 200px;
    width: 315px;
    padding-top: 100px;
    color: white;
    margin: 0px auto;
    background: transparent;
    text-align: center;
    border-radius: 10px; }
